<h1>Add a new item</h1>

<form action="/make_a_new_item" method = "post">
  <div>
    <label for="link_url_param">Link URL</label>
    <input id="link_url_param" type="text" name="link_url_param">
  </div>


  <div><label for="link_description_param">Link Description</label>
  <input id="link_description_param" type="text" name="link_description_param"></div>

  <div><label for="thumbnail_url_param">Thumbnail URL</label>
  <input id="thumbnail_url_param" type="text" name="thumbnail_url_param"></div>

  <button>Create item</button>
</form>
